#logo {
    font-family: 'Potta One', cursive;
    margin-right: 3em;
    font-size: 2rem;
}
#logo a{
    text-decoration: none;
    color:rgb(3, 3, 3);
}
#landing nav {
    display: flex;
    align-items: center;
    min-height: 10vh;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Potta One', cursive;
    color:black;
}
.nav-links  button{
    background: transparent;
    margin-left: 3em;
    margin-top: 1em;
    border: 0px solid;
    padding: 1em 1.2em;
    border-radius: 2em;
    box-shadow: 0px 0px 10px rgb(59, 59, 52);    
}
.nav-links  button:focus,
.nav-links  button:hover{
    box-shadow: 0px 0px 0px  rgb(134, 134, 132); 
    background-color: rgb(17, 17, 17) ;
    outline: none;
    
}
.nav-links  button:hover a{
   
    color:rgb(250, 245, 245);
    transition: .5s;
}
.nav-links li {
    position: relative;
    padding-left: 3rem;
    margin-top: 1em;
    font-size: 1.2rem;
}


.nav-links a span{
	position:absolute;
	z-index:800;
	width:100%;
	border-bottom:3px solid transparent;
	bottom:0px;
	left:-100%;
	
	
}
.nav-links a:hover  span{
	width:100%;
    border-bottom:3px solid black;
    margin-left: 1em;
	bottom:0px;
	left:0%;
	transition:.5s;
}
.nav-links li a:hover{
    color:white;
    text-shadow:0px 0px 5px rgb(0, 0, 0);
    transition: .5s;
}
